* {
  /* Change your font family */
  font-family: sans-serif;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  border: 3px solid black;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border: 3px solid black;
}

.content-table tbody{
  background-color: #f3f3f3;
  border: 3px solid black;
}

.content-table tbody tr:last-of-type {
  border: 3px solid black;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: black;
}